body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

input, button {
  font-family: inherit;
}

.hero-container {
  width: 100%;
  height: 100vh;
  background-image: url('images/hero.jpg');
  background-position: center center;
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 16px;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  opacity: 0.86;
}

.hero .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2
}

.hero .logo > img {
}

.hero .logo > span {
  font-size: 3em;
}

.hero > h1 {
  text-align: center;
}

.hero > p {
  margin: 0px;
  text-align: center;
}

.hero > form {
  margin: 0px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input {
  border: 0px;
  border: 1px solid #aaa;
  padding: 8px;
  margin-bottom: 8px;
  width: 280px;
  text-align: center;
}

form input.error {
  border: 1px solid red;
}

form button {
  font-family: inherit;
  padding: 8px;
  width: 280px;
  border: 1px solid green;
  background-color: green;
  color: white
}

/* features */

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;;
}

.feature {
  width: 100%;
}

@media (min-width: 640px) {
  .feature {
    max-width: 48%;
  }
}

.feature > img {
  max-width: 100%;
  -webkit-box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.25);
}


/* Plans */

.plans {
  margin-top: 64px;
}

.plans > h2 {
  text-align: center;
}

.plan {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  margin-bottom: 8px;
}

.plan > h2 {
  margin: 0px;
  font-size: 1.2em;
}

.plan >  h3 {
  margin: 8px;
  font-size: 2em;
}

.plan > p {
  margin: 0px;
}

/* Last CTA */

.last-cta {
  padding: 64px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-cta > h2 {
  text-align: center;
}

.last-cta > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* footer */

.footer {
  text-align: center;
  font-size: 0.8em;
}

.thank-you {
  text-align: center;
}

.hidden {
  display: none;
}

#popup-area {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8)
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  padding: 16px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.25);
}
